<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus fugit dolorem dicta quas rem? Eaque maxime, ea in voluptatem fugiat necessitatibus odit quia id nesciunt reiciendis, consequuntur est sunt dolor!</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus fugit dolorem dicta quas rem? Eaque maxime, ea in voluptatem fugiat necessitatibus odit quia id nesciunt reiciendis, consequuntur est sunt dolor!</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> - 
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus fugit dolorem dicta quas rem? Eaque maxime, ea in voluptatem fugiat necessitatibus odit quia id nesciunt reiciendis, consequuntur est sunt dolor!</p>
        </ul>
    </div>
</div>