<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Drone Autonomo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur impedit eligendi laudantium eos voluptatibus excepturi odit voluptate aliquid quos quae doloremque at iusto, suscipit officia quisquam architecto provident, atque commodi.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Drone.jpg" alt="" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
