<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Drone Autonomo</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur impedit eligendi laudantium eos voluptatibus excepturi odit voluptate aliquid quos quae doloremque at iusto, suscipit officia quisquam architecto provident, atque commodi.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Drone.jpg" alt="" class="img-fluid img-proyecto">
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1_2">
            <h3>Variador de Frecuencia Trifasico</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, voluptas accusantium. Voluptatibus ducimus sapiente doloribus quae esse eaque minus quo. Ipsa deserunt dicta soluta cupiditate voluptas consectetur recusandae necessitatibus nihil.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2_2">
            <img src="" alt="">
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1_3">
            <h3>Portfolio web</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit dolorem laudantium quibusdam earum eius. Sunt cumque accusamus, dolor obcaecati neque fugiat minus impedit! Recusandae nostrum eaque aspernatur, sit explicabo dolorem.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2_3">
            <img src="" alt="">
        </div>
    </div>
</div>
