.img-fluid {
    height: 250px;
    width: 300px;
}

.row {
    padding: 20px;

}

div {
    background-color: #ccc;
    text-align: center;
}

#nombre {
    font-weight: bold;
    margin-top: 40%;
    margin-left: 10px;
}

@media (min-width: 576px){
    #foto-de-perfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 3%;
        top: 40vh;
    }
}

@media (max-width: 575px){
    #foto-de-perfil{
        position: absolute;
        width: 90%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
        left: 3%;
        top: 40vh;
    }
}
