<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil.jpg" class="img-fluid" id="foto-de-perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>FrontEnd Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Mi nombre es Diego Martinez, 23 años, me gusta la programación desde que comencé con el lenguaje c.
                Tengo experiencia en la programación de MCU para electrónica aplicada y me estoy adentrando en el 
                mundo del desarrollo web. Por el momento profundizando en Front pero con expectativas de ampliar mis
                conocimientos en el Back y así poder ser Dev FullStack.
            </p>
        </span>
    </div>
</div>