<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoap">
        </div>
        <div class="redes">
            <div>
                <a href="https://www.instagram.com/yuzuru.ph/" class="ig" target="_blank"><img src="../../../assets/IG.png" alt="" id="ig"></a>
                <a href="" class="gm" target="_blank"><img src="../../../assets/Gmail.png" alt="" id="gm"></a>
                <a href="https://www.linkedin.com/in/diego-mart%C3%ADnez-72952b17b/" class="li" target="_blank"><img src="../../../assets/in_3.png" alt="" id="li"></a>
                <a href="https://walink.co/030bb1" class="wpp" target="_blank"><img src="../../../assets/Wpp_3.png" alt="" id="wpp"></a>
            </div>
            <button type="button" class="btn btn-outline-light" (click)="login()">Ingreso</button>
        </div>
    </div>
</div>