#logoap {
    width: 110px;
    height: 75px;
}

img {
    width: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes {
    display: flex;
    padding-right: 2vw;
}

#li {
    width: 35px;
}

#wpp {
    width: 50px;
}

#gm {
    width: 50px;
    padding: 0;
}

#ig {
    width: 50px;
}
