<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Martinez Diego</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div>
        <span class="col-xs-12 col-sm-2 col-md-2 col-lg-8">
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab error,
            magni nobis repudiandae quis animi cum aut officiis dicta sapiente 
            earum delectus perspiciatis molestiae in laborum non ullam quod dolores!</p>
        </span>
    </div>
</div>